<!--Tejaswini-->
<!DOCTYPE html>
<html>
<head>
  <title>extra field</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
  <div class="container card bg-light">
  <div class="form-group ">
<form method="post">
  
  {% csrf_token %}
  {{form.media}}
  {{form.as_p}}

  <div class="btn-group btn-group-toggle " data-toggle="buttons">
 <button type="submit" class="btn btn-success active" formaction="fieldadd/">Save & Next</button>
 <button type="submit" class="btn btn-outline-success" formaction="https://www.google.com">Back</button>
  </div>

</form>
</div>
  </div>
</body>
</html>
<!--Tejaswini-->