<!DOCTYPE html>
<html>
<head>
    <title>Skills</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
    <body>
    <div class="container card bg-light">
        <div class="card-title">
                <p >Add skill</p>
    </div>
    <div class="row">
        <div class="form-group col-12 col-sm-6">
            <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <div class="btn-group btn-group-toggle " data-toggle="buttons">
                    <button type="submit" class="btn btn-outline-success" formaction="next/">Next</button>
                </div>
                </form>
        </div>
        <div class="col-sm-6">
            <p >Skills are the expertise or talent needed in order to do a job or task. Job skills allow you to do a particular job and life skills help you through everyday tasks.</p>
        </div>
    </div>
    </div>
    </body>
</html>

  