<!--Tejaswini-->
<!DOCTYPE html>
<html>
<head>
  
  <title>Update details...</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate, post-check=0, pre-check=0" /> 
<meta http-equiv="Pragma" content="no-cache" />

</head>
<body>

<h1>Update Post</h1>
<div class="form-group col-12 col-sm-6">
	<form  method="post" >

    {% csrf_token %}
    {{form.media}}
    {{form.as_p|safe}}
    
 <button type="submit" class="btn btn-primary">Update</button>
</form>

</div>


</body>
</html>
<!--Tejaswini-->